/*
===============================
Body
===============================
*/

.entire-App {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  width: 1120px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

/*
===============================
App Header
===============================
*/

.description-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: -5px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: -10px;
}

.header-container {
  display: inline-flex;
  flex-direction: column;
}

.header {
  display: block;
  justify-content: space-between;
  border-bottom: 1px solid #cacccdcb;
  height: 100px;
  width: 600px;
  padding: 10px;
  margin-left: 0px;
  position: relative;
  position: -webkit-sticky;
  top: 10%;
  bottom: 70%;
  float: left;
}

.listing-static-info {
  width: 600px;
}

#listing-static-top,
#listing-static-bottom {
  width: 100%;
}

/*
===============================
App Major Container
===============================
*/

.app-container {
  display: block;
  width: 372px;
  height: 260px;
  border-width: 2;
  border-radius: 10px;
  filter: blur();
  border-color: #cacccdd8;
  box-shadow: 3px 2px 25px 5px #cacccdcb;
  opacity: 1;
  padding: 2px;
}

.upper-app {
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.price-app {
  float: left;
}

#price-app-header {
  font-weight: bold;
}

#suffix {
  font-size: 14px;
}

#star-sym {
  src: "https://ghrsea12-fec.s3-us-west-2.amazonaws.com/sample/star.png";
  height: 12px;
}
.reviews {
  padding-top: 2px;
  float: right;
  font-size: 12px;
}

#stars {
  font-weight: bold;
}

/*
===============================
Upper - Major Container
===============================
*/

.upper-app {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 30px 20px 0px 20px;
}

.price-app {
  float: left;
}

#price-app-header {
  font-weight: 500;
  font-size: 22px;
}

#suffix {
  font-size: 18px;
}

.reviews {
  padding-top: 3px;
  float: right;
  font-size: 16px;
}

#stars {
  font-weight: 400;
  font-size: 18px;
}

/*
===============================
Middle/Upper - Major Container
===============================
*/

.middle-app {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 20px 0 0 20px;
  border: .5px solid #82888a;
  border-radius: 5px;
  width: 326px;
  height: 100px;
  /* color: #222222; */
}

.check-in-app {
  float: left;
}

.check-out-app {
  float: right;
}

.check-in-app,
.check-out-app {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: 5px start;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  border-color:#82888a;
  border: .5px solid #82888a;
  border-radius: 3px;
  width: 151px;
  height: 40px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 0;
}

.date-input {
  outline: none;
  border: none;
  border-color: transparent;
  background-color: transparent;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.date-input:-webkit-autofill {
  -webkit-text-fill-color: rgba(0, 0, 0, 0.9);
  -webkit-box-shawdow: #f2f2f2 inset !important;
  -webkit-transition: background-color 9999s ease-out;
}

/*
===============================
Middle/Lower - Major Container
===============================
*/

.guestPicker {
  margin-left: 10px;
  margin-top: 20px;
}

#guest-title {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

#guestCount {
  font-size: 14px;
}

#guest-expand-mod {
  float: right;
  background-color: transparent;
  border: transparent;
  font-weight: bold;
  margin-right: 10px;
  outline: none;
}

#guest-expand-mod {
  display: inline-block;
  width: 2em;
  height: 2em;
  border: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  position: absolute;
  margin-left: 70%;
  margin-top: -5px;
  background-color: transparent;
  outline: none;
}
#guest-expand-mod:after {
  content: '';
  display: inline-block;
  width: .75em;
  height: .75em;
  border-top: 0.15em solid rgba(0, 0, 0, 0.9);
  border-right: 0.15em solid rgba(0, 0, 0, 0.9);
  transform: rotate(135deg);
  border-radius: 15% 10% 15% 0;
}

/*
===============================
Lower - Major Container
===============================
darker Airbnb color: #b91432
*/

.CA-app button {
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: normal;
  position: relative;
  display: inline-block;
  width: 328px;
  height: 50px;
  color: #f2f2f2;
  margin: 10px 20px 20px 21px;
  border-width: 0;
  border-radius: 7px;
  background: -webkit-linear-gradient(90deg, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  background: -moz-linear-gradient(90deg, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  background: linear-gradient(90deg, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  background: radial-gradient(circle at 70%, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% );
  background-color: #FF385C;
  outline: none;
}

.CA-btn:hover {
  background: -webkit-linear-gradient(270deg, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  background: -moz-linear-gradient(270deg, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  background: linear-gradient(270deg, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  background: radial-gradient(circle at 40%, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% );
  background-color: #FF385C;
  outline: none;
}

/*
=====================================
Cost Est Modal - App Major expansion
=====================================
*/
.cost-header {
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 27%;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.cost-estimator {
  font-family: 'Montserrat';
  font-weight: normal;
  position: center;
  display: block;
  margin-left: 12px;
  margin-top: 5px;
}

.cost-btn {
  display: block;
  height: 30px;
  padding: 10px;
  border: none;
  background-color: transparent;
  color:  rgba(0, 0, 0, 0.9);
  font-size: 14px;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  outline: none;
  margin-top: 3px;
}

.cost-left {
  justify-content: space-between;
  display: block;
  float: left;
}

.cost-right {
  margin-top: 10px;
  text-align: right;
  justify-content: space-between;
  display: block;
  float: right;
  margin-right: 24px;
}

.sub {
  display: block;
  text-align: right;
  height: 30px;
  margin-left: 5px;
  border: none;
  background-color: transparent;
  color:  rgba(0, 0, 0, 0.9);
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  outline: none;
  margin-top: 3px;
}

.total {
  display: block;
  padding-top: 25px;
  margin: 20px 0 10px 10px;
  font-weight: 500;
}

.sub-total {
  text-align: right;
  display: block;
  padding-top: 25px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.line {
  display: block;
  margin-top: 160px;
  width: 90%;
  margin-left: 10px;
  border-top: 1px solid #cacccdcb;
}
/*
===============================
Cal Modal - pop up
===============================
*/

.bob {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 600px;
  height: 400px;
  z-index: 100;
  transform: translate(-40%, -15%);
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  border-width: 2;
  border-radius: 10px;
  filter: blur();
  border-color: #cacccdd8;
  box-shadow: 3px 2px 25px 5px #cacccdcb;
}

.modal-dateBoxes {
  float: right;
  align-items: top;
  padding: 20px 20px 0 10px;
}

.modal-header-left {
  float: left;
}
.listing_rooms {
  font-size: 12px;
  font-weight: 300;
  padding-left: 30px;
  align-items: flex-start;
}

.selectDates {
  font-weight: 500;
  font-size: 22px;
  padding-left: 30px;
  padding-top: 20px;
  align-items: flex-start;
}

.actions {
  padding: 10px;
}

.taxesWarning {
  float: left;
  font-size: 8px;
  color: #82888a;
  margin: 10px 10px 10px 30px;
}

.clear-btn {
  align-items: baseline;
  float: right;
  height: 30px;
  width: 80px;
  border: none;
  background-color: transparent;
  color:  rgba(0, 0, 0, 0.9);
  font-size: 12px;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 3px;
  outline: none;
}

.clear-btn:hover {
  background-color: #ebedeea4;
  border-radius: 7px;
  margin: 3px;
}


.close-btn {
  align-items: baseline;
  float: right;
  height: 30px;
  width: 70px;
  border: none;
  background-color: rgba(0, 0, 0, 0.9);
  color: #f2f2f2;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  border-radius: 7px;
  margin: 3px;
  outline: none;
}

/*
===============================
Calendar
===============================
*/

.cal-dbl-container {
  position: relative;
  width: 550px;
  margin: 25px 5px 5px 12px;
  background-color: white;
}

.cal-left {
  float: left;
}

.cal-right {
  float: right;
}

.cal-container {
  padding-left: 10px;
  width: 250px;
  align-items: center;
}

.month-bar {
margin-bottom: 10px;
}

.month {
  font-weight: 500;
  margin-left: 37%;
}

/*
===============================
Calendar - Day Buttons
===============================
*/

.cal-day {
  height: 30px;
  vertical-align: middle;
  width: 30px;
  background-color: transparent;
  border: none;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0 3px 0 2px;
  outline: none;
}

.day {
  outline: none;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  font-size: 7px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin: 0 3px 0 2px;
}

.check-in {
  background-color: rgba(0, 0, 0, 0.9);
  border: 3px double white;
  color: white;
  border-radius: 100%;
}

.check-out {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 100%;
}

.day:hover {
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 100%;
}

.day:active,
.day:focus {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 100%;
}

.line-day {
  display: inline-block;
  font-size: 12px;
  padding-bottom: -20px;
  margin-bottom: -20px;
}

.line-price {
  display: inline-block;
  font-size: 7px;
  padding-top: -10px;
  margin-top: -10px;
}

/*
===============================
Calendar - Arrow Buttons
===============================
*/

.leftButton {
  display: inline-block;
  width: 2em;
  height: 2em;
  border: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  position: absolute;
  margin-left: 3%;
  margin-top: -5px;
  background-color: transparent;
  outline: none;
}

.leftButton:after {
  content: '';
  display: inline-block;
  width: .5em;
  height: .5em;
  border-top: 0.15em solid rgba(0, 0, 0, 0.9);
  border-right: 0.15em solid rgba(0, 0, 0, 0.9);
  border-radius: 15% 10% 15% 0;
  transform: rotate(-135deg);
}

.leftButton:hover {
  background-color: #ebedeea4;
}

.rightButton {
  width: 2em;
  height: 2em;
  border: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  margin-left: 37%;
  position: absolute;
  margin-top: -5px;
  background-color: transparent;
  outline: none;
}

.rightButton:after {
  content: '';
  display: inline-block;
  width: .5em;
  height: .5em;
  border-top: 0.15em solid rgba(0, 0, 0, 0.9);
  border-right: 0.15em solid rgba(0, 0, 0, 0.9);
  border-radius: 15% 10% 15% 0;
  transform: rotate(45deg);
}

.rightButton:hover {
  background-color: #ebedeea4;
}

/*
===============================
Major Container
===============================
*/

.major {
  position: sticky;
  position: -webkit-sticky;
  top: 10%;
  bottom: 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  align-items: center;
  margin: 50px;
}

/*
===============================
Minor Container
===============================
*/

.minor-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  width: 600px;
  height: 400px;
  position: relative;
}

.minor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 600px;
  border-top: 1px solid #cacccdcb;
  border-bottom: 1px solid #cacccdcb;
  filter: blur();
  margin-left: 0px;
  position: relative;
  top: 50%;
  bottom: 90%;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/*
===============================
Guest Modal - pop up
===============================
*/

.guest-modal {
  display: block;
  width: 328px;
  height: 320px;
  position: sticky;
  z-index: 100;
  transform: translate(-3%, 3%);
  background: white;
  border-width: .5px;
  border-radius: 10px;
  filter: blur();
  box-shadow: 0 0 10px 5px #e8eaebd5;
}

.guest-col-left {
  padding-top: 0px;
  margin: 12px;
  display: block;
  float: left;
  width: 42%;
  font-size: 16px;
  font-weight: 500;
}

.adults {
  margin-bottom: 10px;
}

.group-header {
  width: 25%;
  margin: 25px 0 5px 10px;
  font-size: 16px;
  font-weight: 500;
}

.sub-header {
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 15px 10px;
}

.guest-col-right {
  padding-top: 0px;
  margin: 12px 0 12px 10px;
  display: block;
  align-content: right;
  float: right;
  width: 42%;
  font-weight: 400;
}

button.adults,
button.children,
button.infants {
  font-size: 24px;
  font-weight: 500;
  color: #cacccdcb;
  border: 1px solid #cacccdcb;
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  margin: 12px;
  background-color: transparent;
  outline: none;
}

.guestWarning {
  font-size: 14px;
  margin: 5px 12px 12px 12px;
  display: inline-block;
  align-items: baseline;
}

.g-close-btn {
  align-items: baseline;
  float: right;
  height: 35px;
  width: 60px;
  border: none;
  background-color: transparent;
  color:  rgba(0, 0, 0, 0.9);
  font-size: 16px;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 3px;
  outline: none;
}

.g-close-btn:hover {
  background-color: #ebedeea4;
  border-radius: 7px;
  margin: 3px;
}