/*
===============================
Body
===============================
*/
html, body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

/* div {
  border-color:#b31f50;
  border: 1px solid #bd164e;
  border-radius: 5px;
  width: 200px;
  padding:10px;
} */

/*
===============================
Header
===============================
*/

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

.header {
  border: 1px solid #bb0d2c;
  border-radius: 5px;
  width: 400px;
  padding:10px;
}

/*
===============================
App Main Container
===============================

This container adjusts with page size, height & width currently set at max
372x300 (container)
322x249 (text + buttons + margins)
price margin-top:
*/

.app-container {
  display: block;
  width: 372px;
  height: 260px;
  border-width: 2;
  border-radius: 4px;
  border-color: #cacccdd8;
  box-shadow: 5px 5px 10px 10px #cacccdcb;
  opacity: 1;
  margin: 30px;
  padding: 2px;
}

.upper-app {
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.price-app {
  float: left;
}

#price-app-header {
  font-weight: bold;
}

#suffix {
  font-size: 14px;
}

#star-sym {
  src: "https://ghrsea12-fec.s3-us-west-2.amazonaws.com/sample/star.png";
  height: 12px;
}
.reviews {
  padding-top: 2px;
  float: right;
  font-size: 12px;
}

#stars {
  font-weight: bold;
}


/*
===============================
Upper - App
===============================
*/

.upper-app {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 30px 20px 0px 20px;
}

.price-app {
  float: left;
}

#price-app-header {
  font-weight: 500;
  font-size: 22px;
}

#suffix {
  font-size: 18px;
}

.reviews {
  padding-top: 3px;
  float: right;
  font-size: 16px;
}

#stars {
  font-weight: 400;
  font-size: 18px;
}

/*
===============================
Middle/Upper - App
===============================
*/

.middle-app {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  margin: 20px 0 0 20px;
  border: .5px solid #82888a;
  border-radius: 5px;
  width: 326px;
  height: 100px;
  font: 10px;
  /* color: #222222; */
}

.check-in-app {
  float: left;
}

.check-out-app {
  float: right;
}

.check-in-app,
.check-out-app {
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  border-color:#82888a;
  border: .5px solid #82888a;
  border-radius: 3px;
  width: 161px;
  height: 50px;
}

/*
===============================
Middle/Lower - App
===============================
*/

.guestPicker {
  margin-left: 10px;
  margin-top: 20px;
}

#guest-title {
  text-transform: uppercase;
}

#guest-expand-mod {
  float: right;
  background-color: transparent;
  border: transparent;
  font-weight: bold;
  margin-right: 10px;
}

/*
===============================
Lower - App
===============================
*/

.CA-app button {
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: normal;
  position: relative;
  display: inline-block;
  width: 330px;
  height: 50px;
  background-color: #b91432;
  color: #f2f2f2;
  margin: 10px 20px 20px 20px;
  border-width: 0;
  border-radius: 7px;
}

/*
===============================
Cal Modal - pop up
===============================
*/


.calModal {
  width: 500px;
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow:
    -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;

  &.off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(black, 0.2);
  }
  }
  @media (prefers-reduced-motion) {
    offset-path: none;
  }
  .selectDates {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
  }
  .content {
    padding: 1rem;
  }
  .actions {
    border-top: 1px solid #ccc;
    background: #eee;
    padding: 0.5rem 1rem;
    .close-btn {
      border: 0;
      background: #78f89f;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      line-height: 1;
    }
  }


#centered-toggle-button {
  position: absolute;
}





/*
===============================
Calendar Day Buttons
===============================
*/


/*
===============================
Large Buttons
===============================
*/

